
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap');

body{
    background-image: url(bakgrund.jpg);
    background-repeat: no-repeat;
    font-family: 'Amiri', serif;

}

.gameDiv{
    text-align: center;
    padding: 40px 20px;
    font-size: x-large;
    color: black;
}

h1{
    background-color: rgba(255, 255, 255, 0.653);
    width: 30%;
    border-radius: 50px;
    text-align: center;
    margin-left: 35%;
}

#resultText{
    background-color: rgba(5, 5, 5, 0.846);
    color: rgb(219, 214, 207);
}

.choiceBtn{
    background-color: rgba(255, 255, 255, 0.173);
    height: auto;
    width: 250px;
    border-radius: 10%;
    font-size: large;
    font-weight: 900;
}

img {
    border-radius: 50%;
}

.choiceBtn:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}